.user-container {
  background-color: #4B5974;
  height: 350px;
  width: 250px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: grey 0px 3px 5px 2px;
  padding: 25px;
}

.profile-pic {
  height: 150px;
  width: 150px;
  border: black solid 5px;
  border-radius: 25px;
  background-color: rgb(97, 122, 172);
}

.user-container h1 {
  font-family: 'Calistoga', cursive;
  color: #FFB526;
  font-size: 32px;
  margin-top: 25px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

.user-container h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.user-dropdown {

}